<div class="">
	<div class="text-center panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">开塞表管理</h3>
		</div>
		<div class="panel-body"><a href="{% url 'kaisai:kaisai_post' %}">开塞表上传</a></div>
		<div class="panel-body"><a href="{% url 'kaisai:kaisai_list' %}">已上传的表</a></div>
		
		<div class="panel-heading">
			<h3 class="panel-title">压浆管理</h3>
		</div>	
		<div class="panel-body"><a href="#">每日压浆量上传</a></div>	

		<div class="panel-heading">
			<h3 class="panel-title">财务报销</h3>
		</div>	
		<div class="panel-body"><a href="#">财务报销</a></div>	
	</div>
</div>