{% extends "base.html" %}

{% block title%}首页-Post Grouting{% endblock %}

{% block content %}
<div class="jumbotron">
 	<h1>开塞表查询</h1>
 	<p>查询需要 <a href="{% url 'account:user_login' %}" style="color:red">登录</a>，若未注册，请先 <a href="{% url 'account:user_register' %}" style="color:red">注册</a>！</p>
 	<p><a class="btn btn-primary btn-lg" href="#" role="button">点击查询</a></p>
</div>
<div class="jumbotron">
 	<h1>后压浆技术</h1>
 	<p>国内外学者对桩端、桩侧后注浆技术做了广泛的研究，尤其是对后注浆桩的承载力性能进行了研究，取得了许多有价值的成果。同时国外学者又研制开发出各式各样的注浆装置，在工程中推广应用，这也使后注浆施工工艺得到了很大的发展。</p>
 	<p><a class="btn btn-primary btn-lg" href="#" role="button">首页暂时未确定显示什么内容</a></p>
</div>
{% endblock %}