{% extends "base.html" %}
{% load kaisai_tags %}
{% block title%}首页{% endblock %}

{% block content %}
<div class="jumbotron">
 	<h1>开塞表查询</h1>
 	<del><p>查询需要 <a href="{% url 'account:user_login' %}" style="color:red">登录</a>，若未注册，请先 <a href="{% url 'account:user_register' %}" style="color:red">注册</a>！</p></del>
 	<p>测试期间无需注册，可直接查询！</p>
 	<form class="form-inline" action="{% url 'kaisai:kaisai_search' %}" method="post">{% csrf_token %}
		<div class="form-group">
			<label>输入桩号查开塞表</label>
			<input name="name" type="text" class="form-control" placeholder="例如：123-3，22B-5" style="margin-left: 10px">
		</div>
		<button type="submit" class="btn btn-primary">点击查询</button>
	</form>
</div>
<div class="jumbotron">
 	<h1>项目总概况</h1>
 	<p>项目总桩数：3004根，其中原桩长74根，试桩6根</p>
 	<p>目前成桩开塞数（包含原桩长和试桩）：{% total_kaisai %}根</p>
 	<p>目前已完成压浆桩数：XXX根</p>
 	<p>目前总压浆用水泥吨数：XXXt</p>
 	<p><a class="btn btn-primary btn-lg" href="#" role="button">点击查看概况平面图</a></p>
</div>
{% endblock %}